opencv_marker_detector/build/
opencv_hello_world/build/
opencv_marker_detector/data/
opencv_marker_detector/.ipynb_checkpoints/
opencv_marker_detector/calibrationdata.tar.gz
opencv_marker_detector/camera_calibration_ros2/
